body{margin-top: 0px;
 background-image: url(images/background.png);
 background-size: 700px;
}

#bütün
{
    width: 1000px;
    margin: auto;
    height: auto;
    background-color: rgb(249, 199, 28);
}
#logo{
    height: 150px;
background-color: #f9c71c;
padding-top: 15px;
padding-left: 70px;}
#logo img
{
    height: 100px;
    float: left;
    position: absolute;
    margin-top: 20px;
    z-index: 5;
    
}
#logo h1
{
    color: #9e4444;
    font-size: 2.3em;
    font-family: 'Trebuchet MS';
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    
    
}
#logo h2
{
    color: #9e4444;
    font-size: 1.3em;
    font-family: 'Trebuchet MS';
    text-align: center;
    margin-top: 0px;
    
}
#menu
{
    background-color: #f9c71c;
    height: 65px;
    padding-top: 5px;
      
}
#menu ul
{ 
        text-decoration: none;
        margin-left: 10px;
    
}
#menu ul li
{
        float: left;
        margin-left: 20px;
        display: block;
        font-size: 1em;
        
        font-family:Verdana ;
        
        
}
#menu li a:hover
{
color: #9e4444;;
background-color: #000000;

}


#menu ul li a
{
        color: #9e4444;;
        text-decoration: none;
    
        
}
#icerik
{
    background-color: rgb(230, 218, 218);
    padding: 20px;
    color: black;
   
}
.kucuk
{
    float: left;
    margin-right:15px;
    width: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#icerik p
{
    text-align: justify;
    font-size: 1em;
    line-height: 20px;
    font-family:'Trebuchet MS';
}
#icerik ul li
{
    line-height: 10px; font-family: cursive;
}
#icerik h1{ color: black; font-family: 'Trebuchet MS'; text-align: center;}
#icerik h2{ color: black; font-family: 'Trebuchet MS';}

#icerik .kart
{
    width: 320px;
    height: 420px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    float: left;
    margin-bottom:20px;
    margin-left: 100px;
    margin-right: 30px;
    margin-top:20px;
    border-radius: 5px;
    
}
#icerik .kart img
{
    width: 170px;
    height: 210px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 50px;

}
#icerik .kart h1.h_ad
{
   font-size:0.8em;
   margin-top: 40px;

}

#icerik .kart h2.b_ad
{
   font-size:0.7em;

}

#icerik .kart:hover
{background-color:#f2e9ea;}
#icerik .kart a{text-decoration: none;}
#icerik table{width: 800px; margin: auto;}
#icerik table,td,th{ border: 1px solid black; border-collapse: collapse;}
#icerik table tr{ height: 50px;}
#icerik th{background-color:#4b0e16;}
#icerik table{ text-align: center; font-family: cursive;}
#icerik .dilekce img{width: 30px;}
#icerik a{ text-decoration: none; font-size: 1.5em; color: #4b0e16; font-family: Verdana;}


#adres{
    background-color: #f9c71c; height: 200px;
    font-family: 'Trebuchet MS';
}
#adres2 img 
{
width: 150px;
margin-top: 40px;
margin-left: 50px;
margin-right: 50px;
float: left;
}
#adres3
{
    color: #9e4444;
    width: 500px;
    font-size: 0.8em;
    margin-top: 50px;
    float: left;
    
}
#adres4{width: 250px; float: left; color: #9e4444; margin-top: 30px; font-size: 0.8em; font-family: cursive;}
#adres4 a
{
    text-decoration: none;
    color: #9e4444;
}

#adres4 img
{
    width: 30px;
    margin-right: 10px;
    margin-top: 5px;
        
}
